.containerPrincipal{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
}
.column{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
.day{
    background-color: gray;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    
}
.containerCards{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width : 800px) {
    .containerPrincipal{
        display: flex;
        flex-direction: column;
    }
}