.containerPrincipal{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    gap: 20px;
    
}
.containerData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    width: 100%;
}
.containerData input, select{
    border: 1px solid gray;
    width: 80%;
    padding: 5px;
}
.days{
    display: flex;
    
}
.containerDay{
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1px;
}
.shedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shedule input {
    height: 40px;
    width: 70px;
    text-align: center;
}
.containerButtons{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.containerButtons button {
    width: 75px;
    padding: 8px;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.containerButtons button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}
.emptyDay{
    min-height: 40px;
}

@media (max-width : 800px) {
    .containerDay{
        display: flex;
        flex-direction: column;
    }
    .shedule input {
        
        width: 60px;
}   
}